In [1]:
import pandas as pd

In [2]:
df=pd.read_pickle('inaug_list.pickle')

In [3]:
df

    year  num_words   president
0   1789       1538  Washington
1   1793        147  Washington
2   1797       2585       Adams
3   1801       1935   Jefferson
4   1805       2384   Jefferson
5   1809       1265     Madison
6   1813       1304     Madison
7   1817       3693      Monroe
8   1821       4909      Monroe
9   1825       3150       Adams
10  1829       1208     Jackson
11  1833       1267     Jackson
12  1837       4171    VanBuren
13  1841       9165    Harrison
14  1845       5196        Polk
15  1849       1182      Taylor
16  1853       3657      Pierce
17  1857       3098    Buchanan
18  1861       4005     Lincoln
19  1865        785     Lincoln
20  1869       1239       Grant
21  1873       1478       Grant
22  1877       2724       Hayes
23  1881       3239    Garfield
24  1885       1828   Cleveland
25  1889       4750    Harrison
26  1893       2153   Cleveland
27  1897       4371    McKinley
28  1901       2450    McKinley
29  1905       1091   Roosevelt
30  1909       5846        Taft
31  1913       1905      Wilson
32  1917       1656      Wilson
33  1921       3756     Harding
34  1925       4442    Coolidge
35  1929       3890      Hoover
36  1933       2063   Roosevelt
37  1937       2019   Roosevelt
38  1941       1536   Roosevelt
39  1945        637   Roosevelt
40  1949       2528      Truman
41  1953       2775  Eisenhower
42  1957       1917  Eisenhower
43  1961       1546     Kennedy
44  1965       1715     Johnson
45  1969       2425       Nixon
46  1973       2028       Nixon
47  1977       1380      Carter
48  1981       2801      Reagan
49  1985       2946      Reagan
50  1989       2713        Bush
51  1993       1855     Clinton
52  1997       2462     Clinton
53  2001       1825        Bush
54  2005       2376        Bush
55  2009       2726       Obama
56  2013       2369       Obama
57  2017       1693       Trump
58  2021       3104       Biden